### Домашка 03

In [217]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [218]:
# 1. Закодируем все категориальные атрибуты долей каждого значения по каждой категории

In [256]:
data = pd.read_csv( 'adult.csv' )
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [257]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [258]:
data.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [259]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [260]:
data.loc[:,['workclass']] = data[['workclass']].replace(data['workclass'].value_counts(normalize=True).to_dict())
data.loc[:,['education']] = data[['education']].replace(data['education'].value_counts(normalize=True).to_dict())
data.loc[:,['marital-status']] = data[['marital-status']].replace(data['marital-status'].value_counts(normalize=True).to_dict())
data.loc[:,['occupation']] = data[['occupation']].replace(data['occupation'].value_counts(normalize=True).to_dict())
data.loc[:,['relationship']] = data[['relationship']].replace(data['relationship'].value_counts(normalize=True).to_dict())
data.loc[:,['race']] = data[['race']].replace(data['race'].value_counts(normalize=True).to_dict())
data.loc[:,['gender']] = data[['gender']].replace(data['gender'].value_counts(normalize=True).to_dict())
data.loc[:,['native-country']] = data[['native-country']].replace(data['native-country'].value_counts(normalize=True).to_dict())

In [261]:
data['income'].value_counts()

<=50K    37155
>50K     11687
Name: income, dtype: int64

In [262]:
data.loc[:,['income']] = data[['income']].replace({"<=50K": 0, ">50K": 1})

In [263]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,0.694198,226802,0.037099,7,0.329982,0.061873,0.155215,0.095922,0.668482,0,0,40,0.897424,0
1,38,0.694198,89814,0.323164,9,0.458192,0.030507,0.403669,0.855043,0.668482,0,0,50,0.897424,0
2,28,0.064207,336951,0.032779,12,0.458192,0.020126,0.403669,0.855043,0.668482,0,0,40,0.897424,1
3,44,0.694198,160323,0.222718,10,0.458192,0.061873,0.403669,0.095922,0.668482,7688,0,40,0.897424,1
4,18,0.057307,103497,0.222718,10,0.329982,0.057512,0.155215,0.855043,0.331518,0,0,30,0.897424,0

In [264]:
data_train, data_test, y_train, y_test = train_test_split(data.drop(['income'], axis=1), data[['income']], test_size=0.3, random_state=42)

In [265]:
model = LogisticRegression()
model.fit( data_train, y_train )
predictions = model.predict_proba( data_test )

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  "Specify a solver to silence this warning.",
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  ensure_2d=ensure_2d, allow_nd=allow_nd,

In [266]:
predictions[:5]

array([[0.70274228, 0.29725772],
       [0.71724928, 0.28275072],
       [0.02528552, 0.97471448],
       [0.77761926, 0.22238074],
       [0.82662168, 0.17337832]])

In [267]:
model.score(data_test, y_test)

0.804476898928547

In [268]:
# 2. Используем get_dummies для категориальных атрибутов

In [372]:
data = pd.read_csv( 'adult.csv' )
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [373]:
def encodeAge(row):
    age = row['age']
    ageCat = 'unknown'
    if age <= 15:
        return '0to14' 
    elif age > 15 and age <= 25: 
        return '15to25'
    elif age > 25 and age <= 45:
        return '25to45'
    elif age > 45 and age <= 65:
        return '45to65' 
    else:
        return '65to200'

In [374]:
#data['age'] = data.apply(encodeAge, axis = 1)

In [375]:
len(data['fnlwgt'].unique())/len(data['fnlwgt'])

0.5839850947954629

In [376]:
#data['capital-gain'].value_counts()

In [377]:
#data['capital-loss'].value_counts()

In [378]:
#data['hours-per-week'].value_counts()

In [379]:
data = data.drop(['fnlwgt'], axis = 1)

In [380]:
df = pd.get_dummies( data, columns = [ 'workclass','education','marital-status','occupation','relationship','race','gender','native-country' ])

In [381]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Columns: 108 entries, age to native-country_Yugoslavia
dtypes: int64(5), object(1), uint8(102)
memory usage: 7.0+ MB

In [382]:
df.loc[:,['income']] = df[['income']].replace({"<=50K": 0, ">50K": 1})

In [383]:
data_train, data_test, y_train, y_test = train_test_split(df.drop(['income'], axis=1), df[['income']], test_size=0.3, random_state=42)

In [384]:
model = LogisticRegression()
model.fit( data_train, y_train )

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  "Specify a solver to silence this warning.",
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  ensure_2d=ensure_2d, allow_nd=allow_nd,

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [385]:
model.score(data_test, y_test)

0.856070429263632